.flexbox-ie-fix {
  flex: 0 0 auto !important;
}

.col-xs-12.flexbox-ie-fix {
  width: 100% !important;
}

.col-md-10.flexbox-ie-fix {
  width: 83.333333% !important;
}

.col-md-4.flexbox-ie-fix {
  width: 33.333333% !important;
}

.col-md-8.flexbox-ie-fix {
  width: 66.666666% !important;
}
