body {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  overflow-x: hidden;
}

/***** animations *****/
.animated {
  opacity: 0;
}

.animated.activate {
  opacity: 1;

  transition-property: all;
  transition-duration: .4s;
  transition-delay: 0s;
  transition-timing-function: linear;
}

.animated.zoom-in {
  transform: scale(0.8);
}

.animated.zoom-out {
  transform: scale(1.2);
}

.animated.zoom-in.activate, .animated.zoom-out.activate {
  transform: scale(1.0);
}

.animated.fade-right {
  position: relative;
  right: 30px;
}

.animated.fade-left {
  position: relative;
  right: -30px;
}

.animated.fade-right.activate, .animated.fade-left.activate {
  right: 0;
}

.animated.fade-up {
  position: relative;
  bottom: -100px;
}

.animated.fade-down {
  position: relative;
  bottom: 100px;
}

.animated.fade-up.activate, .animated.fade-down.activate {
  bottom: 0;
}


/***** typography *****/
.text-brand {
  font-family: 'Kaushan Script', cursive;
  font-size: 26px;
  color: #FF6A5C;

  -webkit-transition: color .5s linear;
  -moz-transition: color .5s linear;
  transition: color .5s linear;
}

.text-brand:hover {
  color: #056571;
  text-decoration: none;
}


.text-main {
  font-size: 50px;
  font-weight: 900;
}

.text-secondary {
  font-size: 22px;
}

.text-nav {
  font-size: 16px;
}

.text-body {
  font-size: 14px;
}

.text-right {
  text-align: right;
}

/***** colors *****/
.color-white {
  color: #fff;
}

.color-faded {
  color: rgba(0,0,0,0.4);
}

.bg-color-main {
  background-color: #CCDFCB;
}

.bg-color-nav, .bg-color-content {
  background-color: #F5F1E9;
}

.bg-color-content.about-content {
  background-color: #FF6A5C;
}

.bg-color-content.experience-content {
  background-color: #056571;
}

.bg-color-content.projects-content, .bg-color-card-sbpleaders {
  background-color: #414141;
}


.color-nav-link, .navbar-toggler {
  color: #FF6A5C;
}
.color-nav-link {
  border-color: #FF6A5C;

  -webkit-transition: all .5s linear;
  -moz-transition: all .5s linear;
  transition: all .5s linear;
}

.color-nav-link:hover, .color-nav-link.active {
  color: #056572;
  border-color: #056572;
  text-decoration: none;
}

.color-sm-link {
  color: #FFF;
  border-color: #FFF;
}

.color-sm-link:hover, .color-sm-link:focus {
  text-decoration: none;
  color: #CCDFCB !important;
  background-color: #FFF;
}

.btn.btn-custom {
  border-color: #FFF;
  color: #FFF;
}

.btn.btn-custom:hover {
  background-color: #FFF;
}

.card .btn.btn-custom:hover {
  color: #414141;
}

.experience .btn.btn-custom:hover {
  color: #056571;
}

.contact-form .btn.btn-custom {
  color: #FF6A5C;
  border-color: #FF6A5C;
  background-color: transparent;
}

.contact-form .btn.btn-custom:hover {
  color: #F5F1E9;
  background-color: #FF6A5C;
}

.label-card {
  color: #414141;
  background-color: #FFF;
}

/***** flexbox vertical center *****/
.nav-container, .collapse-left {
  display: flex;
}

.nav-container, .collapse-left, .content, .home-content{
  align-items: center;
}

/* flexbox fix for IE */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .flexbox-ie-fix {
    flex: 0 0 auto !important;
  }

  .col-xs-12.flexbox-ie-fix {
    width: 100% !important;
  }

  .col-md-10.flexbox-ie-fix {
    width: 83.333333% !important;
  }

  .col-md-4.flexbox-ie-fix {
    width: 33.333333% !important;
  }

  .col-md-8.flexbox-ie-fix {
    width: 66.666666% !important;
  }
}

/***** custom components *****/
button, .btn, a[role="button"], #home a[role="button"] > * {
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  transition: all .2s linear;
}
.btn.btn-custom {
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
}

/***** Extra Small Devices *****/
body {
  overflow-x: hidden;
  /*for Scrollspy*/
  position: relative;
}

/* navigation */

.nav-container {
  position: relative;
  height: 100vh;
  left: -41.666%;
  text-align: center;
}

.nav-tab {
  height: 70vh;
  width: 100%;
  border-radius: 3px;

  -webkit-transition: left .2s linear;
  -moz-transition: left .2s linear;
  transition: left .2s linear;

  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  -moz-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.nav-container.expanded {
  left: -3px;
}

.sticky.is-sticky{
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 50%;
}

.navbar-custom {
  float: left;
  height: 100%;
}

.navbar.collapse-left {
  padding-right: 0;
  width:80%;
  text-align: center;
}

.collapse-button {
  padding: 0;
  text-align: center;
  width: 20%;
}

.navbar.collapse-button .navbar-toggler {
  padding: .5rem 0;
}

.navbar-toggler:focus {
  outline: none;
}

.brand {
  margin-bottom: 20px;
}

/* content sections */
.content {
  padding: 25px 0;
  position: relative;
}

.content-header {
  margin-bottom: 1.5rem;
}

.about-content, .projects-content, .experience-content, .contact-content {
  padding: 100px 0;
}

/* home page */
#home .content {
  padding-top: 0;
}

.home-content {
  background-image: url(../img/bg-computer-xs.jpg);
  background-size: cover;
}

.intro-section {
  padding-top: 20px;
  padding-bottom: 20px;
}

.headshot-container {
  width: 210px;
  height: 210px;
  margin: 0 auto;
}

.headshot {
  border-radius: 100px;
  border: 5px solid #FFF;
}

.sm-icon {
  display: inline-block;
}

.sm-icon > .fa {
  padding: 14px 16px;
  border-radius: 30px;
  border-width: 2px;
  border-style: solid;
  text-align: center;
  position: relative;
}

.sm-icon.wide > .fa {
  padding: 14px 14px;
}

.continue-arrow-container {
  margin-top: 100px;
  display: block;
  position: absolute;
  bottom:30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.continue-arrow {
  font-size: 60px;
  color: #FF6A5C;
  -webkit-animation: pulse 3s ease-out;
  -webkit-animation-iteration-count: 7;
  opacity: .2;
}

.continue-arrow:visited {
  color: #FF6A5C;
}

.continue-arrow:hover {
  color: #FFF;
  cursor: pointer;
}

@-webkit-keyframes pulse {
  0% {opacity: 0.2;}
  50% {opacity: 0.6;}
  100% {opacity: 0.2;}
}

/* about page */

/* projects */
.projects-content .card {
  overflow: hidden;
  margin-top: 1.5rem;
  width: 100%;
}

.projects-content .card .card-img {
  width: 100%;
}

.projects-content .card-img-overlay {
  top: 100%;

  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  transition: all .3s linear;
}

.projects-content .card-img-overlay.display {
  top: 0;
}

.modal-header {
  background-color: #F5F1E9;
}

.modal-header .close {
  opacity: 1;
}

.modal-header .close:hover {
  opacity: .4;
}

.modal-header .fa {
  color: #FF6A5C;
}

/* experience page */
.experience {
  padding: 1rem;
}

.title {
  line-height: 16px;
}

/***** Smal Devices *****/
@media(min-width: 34em) {

  .home-content {
    background-image: url(../img/bg-computer-sm.jpg);
  }

}

/***** Medium Devices *****/
@media (min-width: 48em){

  /* typography */
  .text-main {
    font-size: 80px;
    font-weight: 900;
  }

  .text-secondary {
    font-size: 28px;
  }

  .text-nav {
    font-size: 20px;
  }

  .text-body {
    font-size: 18px;
  }

  .nav-container {
    left: -3px;
  }

  .nav-tab {
    border-radius: 3px;
  }

  .navbar.collapse-left {
    width: 100%;
    padding-right: 1rem;
  }

  .collapse-left .nav{
    margin: 0 auto;
  }

  .sticky.is-sticky {
    width: 16.667%;
  }

  /* home page */
  .home-content {
    background-image: url(../img/bg-computer-md.jpg);
    height: 100vh;
  }

  /* experience page */
  .title {
    line-height: 20px;
  }



}

/***** Large Devices *****/
@media (min-width: 62em) {
  .nav-tab {
    height: 50vh;
  }

  .home-content {
    background-image: url(../img/bg-computer-lg.jpg);
    background-attachment: fixed;
  }

}

/***** Extra Large Devices *****/
@media (min-width: 75em) {
  .home-content {
    background-image: url(../img/bg-computer-xl.jpg);
  }
}
