/***** Extra Small Devices *****/
body {
  overflow-x: hidden;
}

.nav-container {
  position: relative;
  height: 100vh;
  left: -25%;

  -webkit-transition: left .2s linear;
  -moz-transition: left .2s linear;
  transition: left .2s linear;
}

.nav-container.expanded {
  left: 0;
}

.sticky.is-sticky{
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 33.333%;
}

.navbar-custom {
  float: left;
  height: 100vh;
}

.collapse-left {
  width:75%;
  height: 100vh;
  display: flex;
  align-items: center;
  text-align: center;
}

.collapse-button {
  padding: 0;
  text-align: center;
  width: 25%;
}

.navbar.collapse-button .navbar-toggler {
  padding: .5rem 0;
}


.content {
  height: 100vh;
}

/***** Smal Devices *****/
@media(min-width: 34em) {

}

/***** Medium Devices *****/
@media (min-width: 48em){
  .nav-container {
    left: 0;
  }

  .collapse-left {
    width: 100%;
  }

  .collapse-left .nav{
    margin: 0 auto;
  }

  .sticky.is-sticky {
    width: 25%;
  }
}

/***** Large Devices *****/
@media (min-width: 62em) {

}

/***** Extra Large Devices *****/
@media (min-width: 75em) {

}
